<%- include('include/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <%- include('include/navigate.ejs') %>
        <div class="slideshow-container">

            <div class="mySlides fade">
              
              <img src="https://cityfitnessclub.in/wp-content/uploads/2018/12/slider4.jpg" style="width:100%">
            
            </div>
            
            <div class="mySlides fade">
              
              <img src="https://cityfitnessclub.in/wp-content/uploads/2018/12/slider1.jpg" style="width:100%">
              
            </div>
            
            <div class="mySlides fade">
              <img src="http://cityfitnessclub.in/wp-content/uploads/2018/12/slider3.jpg" style="width:100%">
              
            </div>

            <div class="mySlides fade">
                <img src="http://cityfitnessclub.in/wp-content/uploads/2018/12/slider6.jpg" style="width:100%">
                
              </div>
            
              <div class="mySlides fade">
                <img src=" http://cityfitnessclub.in/wp-content/uploads/2018/12/slider5.jpg" style="width:100%">
                
              </div>
             
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            
            </div>
            <br>
            <br>
            <div class="caloriesfind">
              <h1>Calories Finder</h1>
              <form class = "form"action="/caloriesfinder" method="POST">
                <button class = "indexButton type="submit"> Go >></button>
              </form>
            </div>
            <br>
              <br>
              <div class="caloriesfind1">
                <h1>Workout Videos</h1>
                <form action="/videos" method="POST">
                  <button class = "indexButton"type="submit"> Go >></button>
                </form>
            </div>
            <br><br>
            <script>
            var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
<%- include('include/end.ejs') %>
    </body>
    </html>
    