<div class="topnav">
    <a href="#about" style="float:left;font-size: 20px;">FitnessGain</a>

<a href="/signup">Sign Up</a>
<a href="/login">Login</a>
<a href="/videos">Videos</a>
<a href="/index">Home</a>

</div>